*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  z-index: 99999;
     height: 100vh;
    scroll-snap-align: start;
    width: 100vw;
     background-color: blueviolet;
    color: white;
    scroll-behavior: smooth;
    
    /* display: none; */
    overflow-x: hidden;
  }
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbarY-button{
  background: #000;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  height: 10px;
  background:blueviolet; 
}
::-webkit-scrollbar-track{
  background:black;
}
  .main #particles-js{
  z-index: .9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
  section{
    width: 70vw;

    height: 100%;
    scroll-snap-align: start;
  }
  .header,.main,.about,.services,.contact{
    height: 90vw;
    width: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-type:  mandatory;
   scroll-padding: 50%;
  }
  @font-face {
    font-family:lato ;
     src: url(../fonts/Lato-Heavy.ttf);
  }
  @font-face {
  font-family:clement ;
    src: url(../fonts/Clement_Times_PUO_Version.ttf);
  }
/* body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
} */
.header{
  display: flex;
  flex-direction: row;
   background-color:black;
    height: 80px;
    width: 100%;
     border-bottom-right-radius:40px ;
    border-bottom-left-radius:40px ;
    background-color: black; 
   box-shadow: 1px 2px 5px blueviolet;
    z-index: 99990;
   position:fixed;
  }
  .header header{
  position:relative;
  padding: 
  20px;
   height: 80px;
    width: 100%;
 display:flex;
  flex-direction: row;
 align-items: center;
 justify-content: space-between;
 position:relative;
   
}
h1{
  background-image: url(./me.jpg);
  -webkit-background-clip: text;
   background-clip:text ;
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke:2px white ;
  font-family:cursive;
   animation: anim 6s linear infinite;
  }
  @keyframes anim{
  100%{ 
  background-position: 40px; 
  }
}
.menuBar{
  display: none;
}
.header header nav{
display: flex;
/* margin-right: 10px;
margin-left: 100px; */
justify-content: center;
align-items: center;
}
header nav ul{
 display: flex;
justify-content:space-between ;
/* align-items: center; */
}
.nbsp1{
  display: none;
}
nav ul li a{
 
  margin: 2rem;
  color: white; 
  font-family:lato;

}
nav ul li a:hover{
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
  transition: all .5s ease-in-out;
}
.header header nav .icons{
  display: none;
}
.main{
  padding-top: 120px;
  z-index: -566;
  /* background-color: black; */
    background: linear-gradient(rgba(0,0,0,.898),rgba(0, 0, 0, .97)),url('./Pin\ by\ The\ Cosmicevolve\ !\ on\ 2nd\ skin\ co\ INDPIRACION\ _\ Galaxy\ wallpaper\,\ Galaxy\ painting\,\ Wallpaper\ space.jpeg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode:normal;
  /* margin-top:-30px; */
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  border-radius: 25px;
}
.main .icons{
  float: left !important;
  height: 100%;
  z-index: 9999;
  float:right;
  position: absolute;
  /* background-color:blueviolet ; */
  display: flex;
  flex-direction: column;
  left: 85vw;
  top: 30%;
}
.main .icons img{
   position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
   background-color:blueviolet;
  margin: 20px;
}
.main .icons img:hover{
  box-shadow: 1px 2px 13px  blueviolet;
}
section.main h2{
  text-align: center;
  font-size: 60px;
}
.main .img{
    margin: 0px auto;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  .img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  border:2px solid blueviolet;
  } 
  .text{
    text-align: center;
    margin-top:30px;
  }
  .text p{

    word-wrap:wrap;
    word-break: break-all;
    font-size: 20px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    width: 45vw;
   text-align: left;
  }
  .text #h2{
    font-size:30px;
  }
  .text .txt{
    font-size: 2.1875rem;
    color: blueviolet;
  }
   .resume{
      z-index: 999;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   }
  .resume a{
    margin: 5px auto;
     justify-content: center;
    align-items: center;
   text-align: center;
    text-decoration: none;
    display:inline-flex ;
    border-radius: 25px;
    height: 40px;
    width: 250px;
    color: white;
    background-color:blueviolet;
  }
  .nbsp1{
    color: blueviolet;
    opacity:1;
  }
  /* .nbspActive{
    opacity: 1;
  } 
 
/* about */
.about{
   position:relative;
   display: flex;
   flex-direction: column;
  align-items: center;
  /* justify-content:space-around;  */
  margin-top: 30px;
  padding: 10px auto;
  padding-top: 20px;
  color:white;
 height:fit-content;
  width: 100%;
  background-color: black;
  border-radius: 25px;
}
.container{
  /* margin-top: 30px; */
height:80%;
width: 100%;
/* background-color: red; */
 display: flex;
justify-content: space-around;

}
.container .text{
  height: 6rem;
  width: 90%;
  /* background: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly; 
  /* padding: 10px; */
  margin-top: 4rem;

}
.container .text h2{
  font-size: 25px;
  color: red;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-top: -1px !important;
  margin-bottom: 6rem;
}
.about #h2{
  border-bottom: 2px solid blueviolet;
}
#abouttext{
    margin-top: 60px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  word-break: break;
  line-break: normal;
  word-wrap: break-word;
  width: 65%;
  font-family:sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px;

}
.container .codingSkills{
   display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content:center;  */
  padding: 10px;
  margin: 10px; 
   /* background-color: red;  */
  width: 40%;
  height: 110%;
  margin-top: 50px;
  
}
.skill{
  margin-bottom: 10px;
  margin-top: 10px;
}
.skill h3{
  margin-bottom: 10px;
  color: #f5f5f5;
 
}
.skill h3>img{

  margin-right: 15px;
  background: #000;
  margin-bottom: 1px;
  margin-top: 15px;
  border-radius: 10%;
 box-shadow:-2px -2px 13px blueviolet,
           .5px .5px darkviolet;
 padding: 2px;
  object-fit: contain;
  object-position: center;
  height: 30px;
  width: 30px;
}

.skill .skillbar{
  position: relative;
  border-radius: 15px;
  color: white;
top: -1px;
  background: #222; 
 height: 7px;
}
.skillbar::after{
  content: attr(value);
  text-align:end;
  top: -30px;
  right:1%;
  position:absolute;
}
.skill .skillline{
  position: relative;
  width: 0%;
   height: 100%;
 background:black;
 border-radius: 15px;
 animation:load 2.5s .5s cubic-bezier(1,0.4,.4,1) forwards;
}
@keyframes load{
  100%{
      background:darkviolet; 
     
    width: 100%;
  }
}
.skill .skillline::after{
  content:'';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  background: darkviolet;
  position: absolute;
}
.codingSkills h2,.sSkills h2{
  width: 10rem;
  margin-top: -40px;
  /* margin-bottom: 1000px !important; */
  border-bottom: 2px solid darkviolet;
}
.container .sSkills{
   display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: space-between;  */
  padding: 10px;
  margin: 10px; 
   /* background-color: red;  */
  width: 40%;
  height: 100%; 
  margin-top: 50px;
}
.nbsp{
  color: blueviolet;
}
/* .sSkills .skill{
  margin-bottom: 100px;
} */

/* about ends */

/* services */
.services{
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.services h2{
  margin-top: -600px;
  align-items: flex-start;
  border-bottom: 2px solid blueviolet;
  position: absolute;
  text-align: center;
}

/* contacts */
.contact{
  position: relative;
  align-items: center;
  border-radius: 25px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;

  height: 110vh;
  width: 100vw;
  background-color: black;
}
.contact h2{
  border-bottom: 2px solid blueviolet;
  /* position: absolute; */
margin-top: 40px;
}
.cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 20px auto ;
 margin-top: 10px;
 /* background: red; */
}
.cont h2,a{
  color:grey ;
  font-size: 17px;
  position:relative;
  margin: 10px;
}
.contactMe{
  width: 100%;
}
.contactMe form{
  width: 90%;
  position: relative;
  margin: 20px auto;
  margin-top: -1%;
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.contactMe input{
  font-style:normal;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 10px;
  height: 40px;
  width: 50%;
  margin: 20px;
  background-color: blueviolet;
}
input:active,input:focus,*::placeholder{
  font-size: 15px;
 color: white;
}
input[type="submit"]{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 50%; 
}
textarea{
  font-size: 20px;
  padding: 20px;
   color:blueviolet;
  outline: none;
  border: none;
   border-radius: 15px;
 width: 50%;
 height: 200px;
 resize: none; 
}
textarea::placeholder{
  color: blueviolet;
}
.cosor{
  height: 50px; 
  margin-left: 5px;
  border: 1px solid blueviolet;
}
.typing{
  animation:.5s linear infinite blink;

}
@keyframes blink {
 from{
  opacity: 1;
 }
 to{
  opacity: 0;
 } 
}

/* footer */
.footer{
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: rgba(0, 0, 0,1);
  width: 100vw;
  height: 50vh;
}
.footer h2{
  border-bottom: 2px solid blueviolet;
}
footer h2{
  margin-bottom: 10px;
    border-bottom: none !important;
  font-size: 17px;
}
.footericons a img{
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
}
.spa{
  color: blueviolet;
}
.made{
  margin-top: 20px;
}
  






  

















































/* @media queries */

@media screen and (max-width:720px){
  body{
    display: inherit;
  }

  .header{
    box-shadow: 1px 2px 5px blueviolet;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
    position: fixed;
   z-index: 99990;
    /* 
    text-align: center; */
    justify-content: space-between;
    padding: 5px;
    background-color:black;
    height: 80px;
    width: 100%;
     border-bottom-right-radius:40px ;
    border-bottom-left-radius:40px ;
  }
h1{
  align-items: center;
  justify-content: center;
  background-image: url(./me.jpg);
  -webkit-background-clip: text;
   background-clip:text ;
  font-size: 38px;
  color: transparent;
  -webkit-text-stroke:2px white ;
  font-family:cursive;
  margin-left: 10px;
  position: absolute;
   animation: anim 6s linear infinite;
  }
  @keyframes anim{
  100%{ 
  background-position: 40px; 
  }
} 
  header nav{
    position:fixed ;
    z-index: 9;
    left: -200%;
    ;
    margin: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    padding-top: 60px;
    background:blueviolet;
    border-top-right-radius:40px ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: 1px 2px 6px black;
    transition: all 1.1s ease-in-out;
  }
  nav ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    /* margin-top: 0px; */
    list-style-type: none; 
    text-align: center;
  }
  nav ul li{
    /* margin-bottom:20px ; */
    width: 50vh;
    /* border-top: 1px solid; */
    align-items: center;
    padding: 30px 30px;
  }
  .header .menuBar{
    position: absolute;
    /* background-color: red; */
    z-index: 9999;
    right: 20px;
    display:block;
    float: right;
    height: 40px;
    width: 30px;
  }
  nav ul li a{
    letter-spacing: 1px;
    height: 10px;
    font-family: lato;
 text-decoration: none;
 /* color:transparent;
  -webkit-text-stroke:2px white ; */
 
  }
  .header header nav .icons{
    /* height: 80px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   background-color: transparent;
   left: 50%;
   right: 50%;
   top: 70vh;
   transform: translateY(35vh);
  }
 nav .icons a img{ 
    background-color: blueviolet;
  }
   nav ul li a:hover{
    color:violet;
    border-bottom:1px solid white;
    transition: all .5s ease-in-out;
   }
   .menuBar{
    position: absolute;
    margin-right: 20px;
     margin-top: 15px;
    }
    .top,.bottom{
      
      transition: all .9s ease-in-out; 
   }
   .middle{
    transition: all .8s ease-in-out;
   }
   /* .menuBar:hover .top{
    transform: translateY(12px) rotateZ(45deg);
      transition: all .7s ease-in-out;
   }
    .menuBar:hover .middle{
    opacity: 0;
    }
    .menuBar:hover .bottom{
    transform: translateY(-4px) rotateZ(-45deg);
      transition: all .9s ease-in-out;
   } */
  .bar{
    margin: 5px;
    height: 3px;
    width: 25px;
    background-color:white;
    z-index:99;

  }
  .main{
    padding-top: 160px;
    z-index: -566;
   /* background-color: black; */
    /* margin-top:-30px; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border-radius: 25px;
  }
  .main .icons{
    display: none !important;
  }
  section.main h2{
    text-align: center;
    font-size: 60px;
  }
  .main .img{
    margin: 0px auto;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  .img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  border:2px solid blueviolet;
  
  }
  .text{
    text-align: center;
    margin-top: 50px auto;
  }
  .text p{
    word-wrap:wrap;
    word-break: break-all;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    width: 80%;
   text-align: left;
    font: size 1.1875rem;
  }
  .text #h2{
    font-size:1.375rem;
  }
  .text .txt{
    font-size:2.5rem;
    color: blueviolet;
  }
   .resume{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   }
  .resume a{
  
    margin: 5px auto;
     justify-content: center;
    align-items: center;
   text-align: center;
    text-decoration: none;
    display:inline-flex ;
    border-radius: 15px;
    height: 40px;
    width: 60%;
    color: white;
    background-color:blueviolet;
  }
  .main .icons{
  display: inline-flex;
  flex-direction: row;
  left: 0;
  top: 0;
 
position: relative;
  justify-content: space-evenly;

}
.icons a img{
   background-color:#e4f;
   
  width: 30px;
  height: 30px;
 top:-50px;
  margin: 10px;
  border-radius:50%;
  margin-bottom: 100px;
}
.icons a img:hover{
  transform: scale(1.3);
  box-shadow: 1px 2px 13px white;
}
/* .pic img{
  border-radius: 25px;
  width: 350px;
  height: 250px;
} */
.open{
  left: 0;
}
.about{
   position:relative;
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content:space-between; 
  margin-top: 30px;
  padding: 10px auto;
  padding-top: 20px;
  color:white;
 height:fit-content;
  width: 100%;
  background-color: black;
  border-radius: 25px;
}
.container{
  margin-top: 20px;
height:fit-content;
width: 100%;
/* background-color: rebeccapurple; */
 display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; 
}
.container .text{
  height: 6rem;
  width: 90%;
  /* background: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly; 
  /* padding: 10px; */
  margin-top: 4rem;

}
.container .text h2{
  font-size: 25px;
  color: darkviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  margin-top: -1px !important;
  margin-bottom: 6rem;
}
#abouttext{
    margin-top: 60px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  word-break: break;
  line-break: normal;
  word-wrap: break-word;
  width: 85%;
  font-family:sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px;

}
.container .codingSkills{
   display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between; 
  padding: 10px;
  margin: 10px; 
   /* background-color: red;  */
  width: 87%;
  height: 110%;
  margin-top: 13%;
  
}
.skill{
  margin-bottom: 5px;
  margin-top: 5px;
}
.skill h3{
  color: #f5f5f5;
  
}
.skill h3>img{
  margin-right: 15px;
  background: #000;
  margin-bottom: 1px;
  margin-top: 15px;
  border-radius: 10%;
 box-shadow:-2px -2px 13px blueviolet,
           .5px .5px darkviolet;
 padding: 2px;
  object-fit: contain;
  object-position: center;
  height: 30px;
  width: 30px;
}

.skill .skillbar{
  position: relative;
  border-radius: 15px;
  color: white;
top: -1px;
  background: #222; 
 height: 7px;
}
.skillbar::after{
  content: attr(value);
  text-align:end;
  top: -30px;
  right:1%;
  position:absolute;
}
.skill .skillline{
  position: relative;
  width: 0%;
   height: 100%;
 background:black;
 border-radius: 15px;
 animation:load 2.5s .5s cubic-bezier(1,0.4,.4,1) forwards;
}
@keyframes load{
  100%{
      background:darkviolet; 
     
    width: 100%;
  }
}
.skill .skillline::after{
  content:'';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  background: darkviolet;
  position: absolute;
}
.codingSkills h2,.sSkills h2{
  /* width: 40%; */
  margin-top: -40px;
  /* margin-bottom: 1000px !important; */
  border-bottom: 2px solid darkviolet;
}
.container .sSkills{
   display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between; 
  padding: 10px;
  margin: 10px; 
   /* background-color: red;  */
  width: 87%;
  height: 100%; 
  margin-top: 50px;
}
.nbsp{
  color: blueviolet;
}
/* .about h2{
  position:absolute;
  text-transform: uppercase;
  margin-top:15px;
  border-bottom: 2px solid blueviolet;
} */
/* .about p{
  position:absolute;
  width: 80vw;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  margin: 60px 5px;
} */
/* .about .skills{
  padding-right: 5px;
  display:flex;
   color: black;
  position:absolute;
  margin-top: 185px;
 
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 317px;
  height:70px;
  border-radius: 25px;
 background-color:white;
} */
.lagicon{
  margin: 10px;
float: left;
}
.progress{
    text-align: right;
 
  border-radius: 25px;
  /* float: right; */
   position:absolute;
   margin: 70px;
  background-color: blueviolet;
  width: 200px;
  height: 30px;
}
.val{
   border-radius: 25px;

  height: 30px;
  width: 92%;
  background-color: black;
}
.second,.first,.third,.fourth{
  margin-top: 230px !important;
  position:absolute;
}
.fv{
   width:80%;
}
.sv{
   width:49%;
}
.tv{
   width:70%;
}
.fh{
  width: 89%;
}
.ffv{
   width:40%;
}
/* 
#skill{
  color: blueviolet;
  top: 200px;
  margin-bottom: 10px;
  position: absolute;
} */
/* services section */
.services{
  align-items: center;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.services h2{
  margin-top: -600px;
  align-items: flex-start;
  border-bottom: 2px solid blueviolet;
  position: absolute;
  text-align: center;
}
.contact{
  position: relative;
  align-items: center;
  border-radius: 25px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;

  height: 110vh;
  width: 100vw;
  background-color: black;
}
.contact h2{
  border-bottom: 2px solid blueviolet;
  /* position: absolute; */
margin-top: 40px;
}
.cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 20px auto ;
 margin-top: 10px;
 
}
.cont h2{
  font-size: 17px;
  position:relative;
  margin: 10px;
}
.contactMe form{
  position: relative;
  margin: 20px auto;
  margin-top: -1%;
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.contactMe input{
  font-style:normal;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 10px;
  height: 40px;
  width: 80vw;
  margin: 20px;
  background-color: blueviolet;
}
input:active,input:focus,*::placeholder{
  font-size: 15px;
 color: white;
}
input[type="submit"]{
  width: 70% !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 40vw; 
}
textarea{
  font-size: 20px;
  padding: 20px;
   color:blueviolet;
  outline: none;
  border: none;
   border-radius: 15px;
 width: 80vw;
 height: 200px;
 resize: none; 
}
textarea::placeholder{
  color: blueviolet;
}
.cosor{
  height: 50px; 
  margin-left: 5px;
  border: 1px solid blueviolet;
}
.typing{
  animation:.5s linear infinite blink;

}
@keyframes blink {
 from{
  opacity: 1;
 }
 to{
  opacity: 0;
 } 
}
.footer{
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: rgba(0, 0, 0,1);
  width: 100vw;
  height: 50vh;
}
.footer h2{
  border-bottom: 2px solid blueviolet;
}
footer h2{
  margin-bottom: 10px;
    border-bottom: none !important;
  font-size: 17px;
}
.footericons a img{
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
}
.spa{
  color: blueviolet;
}
.made{
  margin-top: 20px;
}
}
/* footer section */
@media  screen and (max-width:550px) {
   .text .txt{
    font-size: 1.877rem;
    color: blueviolet;
  }
  .main p{
     font-size: 1.29rem; 
  }
  .main .resume a{
    margin-top: 2rem;
    width: 17rem;
    height: 2.9rem;
    /* background-color: red; */
  }
}
@media  screen and (max-width:360px) {
   .text .txt{
    font-size: 1.5625rem;
    color: blueviolet;
  }
  .main p{
     font-size: .9375rem; 
  }
}
@media  screen and (max-width:330px) {
   .text .txt{
    font-size: 1.4625rem;
    color: blueviolet;
  }
  .main p{
     font-size: .7375rem; 
  }
}
html{
font-family: lato !important;
}
/* @media  screen and (min-width:320px) {
   .main,.about,.contact,.services{
    height: 150%;
   }
  } */

